<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1'>
  <link rel="stylesheet" href="styles/main.css">

  <title>Pensacola Abortion Rights Taskforct | P.A.R.T. Pensacola, Florida</title>
  <meta name="description" content="Pensacola Abortion Rights Taskforct | P.A.R.T. Pensacola, Florida">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Pensacola Abortion Rights Taskforct | P.A.R.T. Pensacola, Florida">
  <meta property="og:description" content="Pensacola Abortion Rights Taskforct | P.A.R.T. Pensacola, Florida>
  <meta property=" og:url" content="">
  <meta property="og:site_name" content="Pensacola Abortion Rights Taskforct | P.A.R.T. Pensacola, Florida">
  <meta property="article:publisher" content="">
  <meta property="article:modified_time" content="2022-11-13T13:03:26+00:00">


  <link rel="icon" href="images/logo-220x220.png" sizes="32x32">
  <link rel="icon" href="images/logo-220x220.png" sizes="192x192">
  <link rel="apple-touch-icon" href="images/logo-220x220.png">
  <meta name="msapplication-TileImage" content="images/logo-512x512.png">
</head>

<body class="{{ page.category | default: 'standard' }}">

  <header>
    <div class="brand">
      <a class="site-logo" href="." aria-label="Pensacola Abortion Rights Taskforct | P.A.R.T. Pensacola, Florida">
        <h1>P.A.R.T.</h1>
      </a>
      <h2>Pensacola Abortion Rights Taskforce</h2>
      <h3>Pensacola, FL</h3>
    </div>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>
      © <a href="https://">P.A.R.T.</a> {{ 'now' | date: "%Y" }} <a href="mailto:" title="https://">info@x.org</a>
    </p>
  </footer>
</body>

</html>
